<%- include("partials/head")%>
<body>
    <%- include ("partials/navbar")%>
    <h1>All The Cats</h1>
    <ul>
        <% for ( let cat of allCats ){ %>
        <li><%= cat %></li>
        <%} %>
    </ul>    
</body>
</html>